/* =================
All Styles
=====================*/

*{
    box-sizing: border-box;
}



/* ====================
Non-specific Tag Styles
Designed for Mobile
=======================*/

Body{
    background: #cee6ec;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    
}


h1,
h2,
h3
{
    font-family: 'VT323' ;
    letter-spacing: .1em;
}

h2,
h3{
    font-size: 1.8em;
}

a{
    text-decoration: none;
    color: royalblue;
}

a:hover{
    color: firebrick;
}

ul,
ol{
    list-style-type: none;
    padding:0 0;
    margin:50px 50px;
}


p{
    font-size:1.2em;
    display: block;
    padding: 20px 0;
    margin: 0 auto;
    width: 80%;
}



/* ====================
Header Elements Specific Styles
Designed for Mobile
=======================*/

header{
    margin: 0 0;
    padding: 30px 0;
}

header h1{
    font-size:2.5em;
    text-shadow: -1px 1px 1px cadetblue;
    text-shadow: -2px 2px 2px cadetblue;
}

header ul,
header ol{
    list-style-type: none;
    padding:0 0;
    margin:50px 50px;
}

header li{
    font-size:2em;
    display: block;
    background: #fff;
    padding: 20px 0px;
    margin: 15px 0;
    box-shadow: -4px 5px 5px rgba(0,0,0,.3);
}

header li:hover{
    box-shadow: inset -4px 5px 5px rgba(0,0,0,.3);
}


header li a{
    text-decoration: none;
    color: #333;
    display:block;
    width:100%;
    height: 100%;
}

header li a:hover{
    color: black;
    text-shadow: -4px 3px 5px gray;
}

.image-container{
    width: 80%;
    background: #cad4d6;
    margin: 0 auto;
    Padding: 30px 0;
    box-shadow: inset 0 5px 10px rgba(0,0,0,.3);
}



/* ====================
Main Elements Specific Styles
Designed for Mobile
=======================*/

.profile-image{
    width:65%;
    border-radius: 50%;
    box-shadow: -2px 1px 10px rgba(0,0,0,.3);
}

.portfolio{
    display: block;
    background: #fff;
    padding:50px 0;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
}

#portfolio{
    display: block;
    padding: 50px 0;
    margin: 0 auto;
    color: darkblue;
    text-shadow: -3px 1px 3px cadetblue;
}

#top:hover,
#portfolio:hover,
#skills:hover{
    color: black;
    font-family: 'Permanent Marker';
    text-shadow: -3px 1px 3px cadetblue;
}

h2:hover,h3:hover{
    color: firebrick;    
    font-family: 'Pacifico';
    text-shadow: -3px 1px 3px cadetblue;
}

.page {
    display: block;
    padding: 30px 0;
    margin:0 auto;
    width: 100%;
}

.page img{
    width: 100%;
}



.page h2,
h3
{
    padding:20px 0 ;
    font-size: 1.6em;
    text-shadow: -1px 1px 3px rgba(0,0,0,.3);
}

.page p{
    font-size: 1em;
    padding: 0;
    margin: auto;
}

.skills{
    display:block;
    border-top: 3px solid rgba(0,0,0,.3);
    background: #cad4d6;
    margin: 0 0;
    padding:20px 0 ;
}

.skills ul{
    font-size: 1.4em;
}

#skills{
    padding: 30px 0;
    margin-bottom: 50px;
    color: darkblue;
    text-shadow: -1px 1px 1px cadetblue;
}

.skills-image{
    width: 100%;
}

.contact{
    border-top: 3px solid rgba(0, 0, 0, 0.3);
    display: block;
    width: 100%;
    padding: 50px 0;
    margin: 0;
}

#contact{
    display: block;
    width: 80%;
    padding: 50px 0;
    margin: 0 auto;
}

/* ====================
Footer for Mobile
=======================*/

.mobile-footer{
    position: relative;
    display: block;
    padding:30px 0;
    margin-bottom: 30px;
    font-size: 1.2em;
}

.footer-name{
    position:absolute;
    left:30px;
}

.to-top{
    position: absolute;
    right:30px;
}


/* ====================
Media Queries
=======================*/


/* Hides 4-link footer nav on displays less than 768px */
@media (max-width:768px){
.footer-nav{
    display: none;
}

}


/* Resolutions larger than 768px */
@media (min-width:768px) {

    .clearfix::after{
        content: "";
        display: table;
        clear: both;
    }
    
    header{
        margin: 30px 0;
        padding: 30px 0;
    }
    
    header h1{
        font-size:2.5em;
        text-shadow: -1px 1px 1px cadetblue,
                     -2px 2px 2px rgb(80, 119, 120);
    }
    
    header ul,
    header ol{
        list-style-type: none;
        display: block;
        padding:10px  0 30px 0;
        margin:50px auto;
        position: relative;
    }
    
    header li{
        font-size:2em;
        display: inline-block;
        margin: 0 15px;
        padding: 0 15px;
        background: none;
        box-shadow: none;
    }

    header li:hover{
        box-shadow: none;
    }

    .image-container{
        width: 40%;
        max-width: 700px;
        background: #cad4d6;
        margin: 0 20px;
        Padding: 30px 30px;
        box-shadow: inset 0 5px 10px rgba(0,0,0,.3);
        float:right;
    }    

    .image-container:hover{
        box-shadow: 0 5px 10px rgba(0,0,0,.3);
        background:white;
    }    

    .header-p{
        float: left;
        width: 50%;
        margin: 0 auto;
        padding: 0 30px;
    }

    .header-p h3{
        margin:0 auto;
        padding: 0 0 15px 0;
    }

    main{
        padding: 0 0;
        margin: 0 0;
    }

    .portfolio{
        width:100%;
        margin: 0 auto;
        padding: 0 0 50px;
        display:block;
        text-align: center;
    }

    .page{
        display:inline-block;
        width: 40%;
        margin:10px 30px;
        padding: 30px 10px;
    }

    .page:hover{
        box-shadow: 0 0 15px 5px rgba(0,0,0,.3);
        cursor: pointer;
    }

    .page p{
        display:block;
        width:80%;
        margin: 0 auto;
        padding:0 15px;
        text-align: center;
    }

    .skills{
        display:block;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 30px 0;
        border-bottom: none;
        
    }

    .skills-image{
        width: 80%;
    }

    .contact{
        border-top: none;
    }

    .to-top{
        display: none;
    }
    
    footer{
        position: relative;
    }

    .footer-nav{
        position: absolute;
        right: 50px;
        margin: 0 auto;
    }

    .footer-nav ul{
        display: inline-block;
    }

    .footer-nav li{
        display: inline-block;
        padding: 0 20px;
    }
}

/* Resolutions larger than 1024px */

@media (min-width:1024px) {

    .clearfix::after{
        content: "";
        display: table;
        clear: both;
    }
    
    header{
        margin-top: 0;
        padding-top: 10px;
        
    }

    .name{
        display: block;
        text-align: center;
    }

    .student-name{
        float: left;
        padding: 30px 30px 30px 120px;
        margin: 20px auto;
    }

    .main-nav{
        float: right;
        padding: 45px 30px 30px;
        margin: 20px auto;
        font-size: .7em;
    }

    .image-block{
        max-width: 80%;
        margin: 50px auto;
        display: block;
    }

    .portfolio{
        width:100%;
        margin: 0 auto;
        padding: 0 0 30px;
        display:block;
        text-align: center;
    }

    .page{
        display:inline-block;
        width: 26%;
        margin:10px 20px;
        padding: 10px 10px;
    }
}
