/* =================
All Styles
=====================*/
*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif ;   /*Source Sans Pro is a Google font*/
}

/* ====================
Non-specific Tag Styles
Designed for Mobile
=======================*/

Body{
    background: #cee6ec;
    text-align: center;
}

a{
    text-decoration: none;
    color: royalblue;
}

a:hover{
    color: blueviolet;
}

ul,
ol{
    list-style-type: none;
    padding:0 0;
    margin:50px 50px;
}

p{
    font-size:1.2em;
    display: block;
    padding: 20px 0;
    margin: 0 auto;
    width: 80%;
}



/* ====================
Header Elements Specific Styles
Designed for Mobile
=======================*/

header{
    margin: 0 0;
    padding: 30px 0;
}

header h1{
    font-size:2.5em;
    text-shadow: -1px 1px 1px cadetblue;
    text-shadow: -2px 2px 2px cadetblue;
}

header ul,
header ol{
    list-style-type: none;
    padding:0 0;
    margin:50px 50px;
}

header li{
    font-size:2em;
    display: block;
    background: #fff;
    padding: 20px 0px;
    margin: 15px 0;
    box-shadow: -4px 5px 5px rgba(0,0,0,.3);
}

header li a{
    text-decoration: none;
    color: #000;
}

header li a:hover{
    color: #cad4d6;
}

header .image-container{
    width: 80%;
    background: #cad4d6;
    margin: 0 auto;
    Padding: 30px 0;
    box-shadow: inset 0 5px 10px rgba(0,0,0,.3);
}

hgroup{
    text-align: center;
}

/* ====================
Main Elements Specific Styles
Designed for Mobile
=======================*/

.profile-image{
    width:65%;
    border-radius: 50%;
    box-shadow: -2px 1px 10px rgba(0,0,0,.3);
}

.portfolio{
    display: block;
    background: #fff;
    padding:50px 0;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
}

#portfolio{
    display: block;
    padding: 50px 0;
    margin: 0 auto;
    color: darkblue;
    text-shadow: -1px 1px 1px cadetblue;
}

.page {
    display: block;
    padding: 20px 0;
    margin:0 auto;
    width: 100%;
}

.page img{
    width: 100%;
}

.page h2{
    padding:20px 0 ;
    font-size: 1.3em;
    text-shadow: -1px 1px 3px rgba(0,0,0,.3);
}

.page p{
    font-size: 1em;
    padding: 0;
    margin: auto;
}

.skills{
    display:block;
    border-top: 3px solid rgba(0,0,0,.3);
    background: #cad4d6;
    margin: 0 0;
    padding:50px 0;
}

#skills{
    padding: 30px 0;
    margin-bottom: 50px;
    color: darkblue;
    text-shadow: -1px 1px 1px cadetblue;
}

.skills-image{
    width: 100%;
}

.contact{
    border-top: 3px solid rgba(0,0,0,.3);
    display: block;
    width: 100%;
    padding: 50px 0;
    margin: 0;
}

#contact{
    display: block;
    width: 80%;
    padding: 50px 0;
    margin: 0 auto;
}

/* ====================
Footer for Mobile
=======================*/

.mobile-footer{
    position: relative;
    display: block;
    padding:30px 0;
    margin-bottom: 30px;
    font-size: 1.2em;
}

.footer-name{
    position:absolute;
    left:30px;
}

.to-top{
    position: absolute;
    right:30px;
}


/* ====================
Media Queries
=======================*/

/* Resolutions larger than 768px */

@media (min-width:768px) {

    .clearfix::after{
        content: "";
        display: table;
        clear: both;
    }
    
    header{
        margin: 30px 0;
        padding: 30px 0;
    }
    
    header h1{
        font-size:2.5em;
        text-shadow: -1px 1px 1px cadetblue;
        text-shadow: -2px 2px 2px cadetblue;
    }
    
    header ul,
    header ol{
        list-style-type: none;
        display: block;
        padding:10px  0 30px 0;
        margin:50px auto;
        position: relative;
    }
    
    header li{
        font-size:2em;
        display: inline-block;
        margin: 0 15px;
        padding: 0 15px;
        background: none;
        box-shadow: none;
    }

    
    header .image-container{
        width: 40%;
        max-width: 700px;
        background: #cad4d6;
        margin: 0 20px;
        Padding: 30px 30px;
        box-shadow: inset 0 5px 10px rgba(0,0,0,.3);
        float:right;
    }    

    .header-p{
        float: left;
        width: 50%;
        margin: 0 auto;
        padding: 0 30px;
    }

    main{
        padding: 0 0;
        margin: 0 0;
    }

    .portfolio{
        width:100%;
        margin: 0 auto;
        padding: 0 0;
        display:block;
        text-align: center;
    }

    .page{
        display:inline-block;
        width: 40%;
        margin:10px 20px;
        padding: 10px 10px;
    }

    .page p{
        width:100%;
        margin: 0 auto;
        padding:0 0;
        text-align: center;
    }

    #skills,
    .skills{
        display:block;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        padding: 0 0;
        border-bottom: none;
        
    }

    .skills-image{
        width: 75%;
    }

    .contact{
        border-top: none;
    }
}

/* Resolutions larger than 768px */

@media (min-width:1024px) {

    .clearfix::after{
        content: "";
        display: table;
        clear: both;
    }
    
    header{
        margin-top: 0;
        padding-top: 10px;
        
    }

    .student-name{
        float: left;
        padding: 30px 30px 30px 120px;
        margin: 20px auto;
    }

    .main-nav{
        float: right;
        padding: 45px 30px 30px;
        margin: 20px auto;
        font-size: .7em;
    }

    .portfolio{
        width:100%;
        margin: 0 auto;
        padding: 0 0;
        display:block;
        text-align: center;
    }

    .page{
        display:inline-block;
        width: 26%;
        margin:10px 20px;
        padding: 10px 10px;
    }

}